/* "clases" en CSS se seleccionan anteponiendo el punto (.) */
/*
* Definir color por nombre -> red, blue, green, yellow, etc
* Heyadecimal -> 0 a 15
    Deca- 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
    Hexa- 0,1,2,3,4,5,6,7,8,9, A, B, C, D, E, F
* Decimal -> 0 a 9
*Binario -> 0 a 1

*RGB

*/

.texto-rojo {
    /* RED GREEN BLUE (RGB)
       XX   XX    XX  (RGB)
       color rojo: #FF0000
       Color verde: #00FF00
       color azul: #0100FF*/ /* 00F */
       /* rgb (0, 0, 0) -> negro */ /*  * 0 apagada / 255 es completamente prendida */
    color: red; 
}

.texto-derecha {
    text-align: end;
}

.texto-izquierda {
    text-align: start;
}

.texto-azul {
    color: blue;
}

.texto-centro {
    text-align: center;
}

.texto-verde {
    color: green;
}

